<section>    
    <a href="/dashboard">Return to Dashboard</a>
  <h2 class="title">Create Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Enter your title"/>
    </div>
    <div>
      <label for="post-content">Body:</label>
      <input id="post-content" name="post-content" placeholder="Enter your content"/>
    </div>    
    <button type="submit">Submit</button>
  </form>
</section>

<script src="/javascript/create-post.js"></script>