    <div>
        <a href="/dashboard/create/"><button id="create-post">Create</button></a>
        
        <h2 class="title">Dashboard: Your Posts</h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        {{> post-info post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button>Edit</button></a>
        </div>
    {{/each}}

{{else}}
<h6>You have not created any posts</h6>

{{/if}}